 {% extends 'base.html' %}
 <title>{% block title %}Home{% endblock title %}</title>
 {% block body  %}
  
  <form action="/" method="POST" >
  <div class="mb-3">
    <label for="title" class="form-label">Todo-title</label>
    <input type="text" class="form-control" name = "title" id="todo-title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Desc</label>
    <input type="text" class="form-control" id="todo-desc" name = "desc"> 
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
   
    {% if allTodo|length == 0 %}
           No record found
    {% else %}
     <table class="table">
  <thead>
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Title</th>
      <th scope="col">Desc</th>
      <th scope="col">Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in allTodo %}
  <tr>
    <th scope="row">{{ loop.index }}</th>
    <td>{{ todo.title }}</td>
    <td>{{ todo.desc }}</td>
    <td>{{ todo.date_created }}</td>
    <td><a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btm-sm mx-1">Update</a>
    <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btm-sm mx-1">Delete</a>
    </td>
  </tr>
   </tbody>
</table>
{% endfor %}
 {% endif %}
 {% endblock %}
